@model OrdersVm

@{
    ViewBag.Title = "Orders";
}

<h2>Orders [ @Model.OrdersCount ]</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrder")
</p>
@if (Model.Orders != null && Model.Orders.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Customer.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Customer.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Order_Details.ElementAt(0).Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipVia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShipCountry)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.ContactName)
                </td>
                <td>
                    @if (item.Order_Details != null && item.Order_Details.Count() > 0)
                    {
                        <b>@Html.DisplayFor(modelItem => item.Order_Details[0].Quantity)</b>
                    }
                    else
                    {
                        <b>-----</b>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipVia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipRegion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipPostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipCountry)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditOrder", new { orderId = item.OrderID }) |
                    @Html.ActionLink("Details", "OrderDetails", new { orderId = item.OrderID }) |
                    @Html.ActionLink("Delete", "DeleteOrder", new { orderId = item.OrderID })
                </td>
            </tr>
        }
    </table>
}
